.category-card {
    height: 150px;
    margin-bottom: 20px;
    padding: 0;

    .category-button {
        height: 100%;
        width: 100%;
        margin: 0;
        outline-style: none;

        &--active {
            background-color: #b4da55;
        }
    }
}