.results {
    padding: 0 2%;

    mat-grid-tile {
        background: #c0e071;
        color: #4a5f15;
    }

    mat-grid-tile:hover {
        cursor:pointer;
        font-weight: bold;
    }

    div.sort-copy {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 3% 3% 94%;
        margin: 0 0 10px;

        button.sort {
            background: transparent;
            border: none;
            cursor: pointer;
            outline-color: #b4da55;
            padding: 0;
        
            img {
                margin: 0 3px;
            }
        }
        
        .copy-message {
            color: #4a5f15;
            font-style: italic;
            margin: auto 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .results {
        .sort-copy {
            grid-auto-columns: 10% 10% 80% !important;
        }
    }
}