.app {
    margin: 20px;

    .title {
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;

        h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 48px;
        }
    }
}