<div>
  Hi!  {{message}}
  <button mat-button color="primary">Click me!</button>

</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <mat-card>
        <mat-card-title>Card!</mat-card-title>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-title>Card 2!</mat-card-title>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-title>Card 3!</mat-card-title>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-title>Card 4!</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>