<div class="app container">

  <!-- Category Cards -->
  <div class="row">
    <div class="col-lg-3 col-12">
      <category-card categoryName="Synonyms"></category-card>
    </div>

    <div class="col-lg-3 col-12">
      <category-card categoryName="Rhymes"></category-card>
    </div>

    <div class="col-lg-3 col-12">
      <category-card categoryName="Scrabble"></category-card>
    </div>

    <div class="col-lg-3 col-12">
      <category-card categoryName="Dad Joke"></category-card>
    </div>
  </div>

  <!-- Search bar -->
  
</div>