@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.app {
    display: grid;
    margin: 20px 0;

    .title {
        padding: 20px;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-family: "Metamorphous", cursive;
            font-size: 48px;
            margin: 0;
        }

        h1:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .title-image {
        display: grid;
        margin: 0 auto;

        img {
            margin: 0 auto 10px;
            width: 200px;
        }
    }
}
