.input {
    margin-top: 50px;
    text-align: center;
}

.search-button {
    text-align: center;
}

.no-results {
    color: #FF0000;
    margin-top: 20px;
}

.choose-category {
    display: grid;
    &__message { margin: 20px auto; }
}