<!-- Category Cards -->
<div class="row">
    <div
        class="col-lg-3 col-12"
        *ngFor="let category of categories"
    >
        <category-card
            categoryName={{category.title}}
            (click)="setCategory(category.title)"
            [isActive]="currentCategory?.title === category.title"
        >
        </category-card>
    </div>
</div>

<!-- Search bar & autocomplete -->
<ng-container
    *ngIf="currentCategory; else noCategory"
>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-10 offset-2 input">
            <mat-form-field>
                <input
                    matInput
                    [value]="currentSearchValue"
                    [matAutocomplete]="auto"
                    (input)="setSearchText($event)"
                >
                
                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngIf="autocompleteActive && currentSearchValue">
                        <mat-option *ngFor="let item of currentAutocompleteWords" [value]="item.word">
                            {{ item.word }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>

            </mat-form-field>
        </div>
    </div>

    <div>
        <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button">
            <button
                mat-button
                [disabled]="!searchReady"
                (click)="search()"
            >
                Search!
            </button>
        </div>
    </div>
</ng-container>

<!-- Results -->
<ng-container *ngIf="currentResults.length > 0">
    <h2>{{ currentCategory.title }} of <strong>{{ currentResultsTitle }}</strong></h2>
    <results [results]="currentResults"></results>
</ng-container>

<ng-container *ngIf="noMatches">
    <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button no-results">
        There were no results for that word!  Try another one!
     </div>
</ng-container>


<!-- Ng-templates -->
<ng-template #noCategory>
    <div class="choose-category">
        <div class="choose-category__message">
            Choose a category!
        </div>
    </div>
</ng-template>
