.categories {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 1024px;
}

.search-wrapper {
    display: grid;
    margin: 0 0 20px;

    .search {
        margin: 20px auto 0;
        
        .input {
            text-align: center;
        }
    }

    .search-button {
        margin: 0 auto;
        text-align: center;
    }
}

.no-results {
    color: #FF0000;
    margin: 20px 0;
    text-align: center;
}

.results-title {
    padding: 0 2%;
}

.choose-category {
    display: grid;
    &__message { margin: 20px auto; }
}

@media screen and (max-width: 768px) {
    .categories {
        grid-auto-flow: row;
    }

    .results-title {
        margin: 15px 0 10px;
        text-align: center;
    }
}