<!-- Category Cards -->
<div class="row">
    <div 
        class="col-lg-3 col-12"
        *ngFor="let category of categories"
    >
        <category-card 
            categoryName={{category}}
            (click)="setCategory(category)"
            [isActive]="category === state$.value.activeCategory"
        >
        </category-card>
    </div>
</div>

<!-- Search bar -->
<ng-container
    *ngIf="state$.value.activeCategory; else noCategory"
>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-10 offset-2 input">
            <mat-form-field>
                <input 
                    matInput 
                    (input)="setSearchText($event)"
                    [value]="state$.value.searchValue"
                >
            </mat-form-field>
        </div>
    </div>

    <div>
        <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button">
            <button 
                mat-button 
                (click)="search()"
            >
                Search!
            </button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="state$.value.results?.length">
    <h2>{{state$.value.activeCategory}} of <strong>{{state$.value.searchValue}}</strong></h2>
    <results [items]="state$.value.results"></results>
</ng-container>

<ng-container *ngIf="!state$.value.results?.length && noMatches">
    <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button no-results">
        There were no results for that word!  Try another one!
     </div>
</ng-container>


<!-- Ng-templates -->
<ng-template #noCategory>
    <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button choose-category">
       Choose a category!
    </div>
</ng-template>
