<!-- Category Cards -->
<div class="row">
    <div 
        class="col-lg-3 col-12"
        *ngFor="let category of categories"
    >
        <category-card 
            categoryName={{category}}
            (click)="setCategory(category)"
            [isActive]="category === activeCategory"
        >
        </category-card>
    </div>
</div>

<!-- Search bar -->
<ng-container
    *ngIf="activeCategory; else noCategory"
>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-10 offset-2 input">
            <mat-form-field>
                <input 
                    matInput 
                    (input)="setSearchText($event)"
                    [value]="searchValue"
                >
            </mat-form-field>
        </div>
    </div>

    <div>
        <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button">
            <button 
                mat-button 
                (click)="search()"
            >
                Search!
            </button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="results?.length">
<h2>{{activeCategory}} of <strong>{{searchValue}}</strong></h2>

    <mat-grid-list 
        cols="4"
        rowHeight="50px"
    >
        <mat-grid-tile
            *ngFor="let result of results"
        >
            {{ result.word }}
        </mat-grid-tile>

    </mat-grid-list>
</ng-container>


<!-- Ng-templates -->
<ng-template #noCategory>
    <div class="col-lg-4 offset-lg-4 col-10 offset-2 search-button">
       Choose a category!
    </div>
</ng-template>
